@{
    ViewData["Title"] = "Login Page";
}
<form action="/Employee/ValidateEmployee">
  <div class="form-group">
    <label for="Email">Email address</label>
    <input type="text" class="form-control" id="Email" aria-describedby="emailHelp" name="Email">
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" id="Password" name="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>